* {
    background-color:rgb(153, 234, 131);
}

#heading,
.body-text,
.list-title,
.list,
#heading-two,
.home {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: left;
    margin-left: 30px;
    margin-right: 500px;
}

#heading {
    font-size: 70px;
    font-weight: 700;
}

.body-text {
    font-size: large;
}

.list-title,
#heading-two,
.home {
    font-size: 35px;
}

.list {
    margin-left: 50px;
}

.image {
    height: auto;
    width: 745px;
    margin-left: 30px;
}

.home {

}