body {
    background-color:rgb(17, 164, 193);
}
.card {
    border: 4px outset white;
    margin: 0 auto;
    padding: 2em;
    width: 40em;
    height: auto;
    background-color:rgb(167, 225, 109);
}

#heading,
.body-text,
.list-title,
.list,
#heading-two,
.home {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: left;
}

#heading {
    font-size: 40px;
    font-weight: 700;
}

#heading-two {
    font-weight:100;
}

.body-text {
    font-size: large;
}

.list-title,
#heading-two,
.home {
    font-size: 30px;
}

.list {
    padding-left: 50px;
    font-size: 18px;
}

.img {
    display: block;
    margin: auto;
    width: fit-content;
}

/*.image {
    height: auto;
    width: 745px;
    margin-left: 30px;
}
*/
a {
    color:rgb(0, 0, 0);
}    
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.end-line {
    text-align: center;
    text-decoration: wavy;
}