* {
    background-color:aquamarine;
}

#heading,
.body-text,
.list-title {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: left;
    margin-left: 30px;
    margin-right: 500px;
}

#heading {
    font-size: 70px;
    font-weight: 700;
}

.body-text {
    font-size: large;
}

.list-title {
    font-size: 35px;
}

.list {
    margin-left: 50px;
}

